.todolist{
    display: flex;
    color: white;
   font-size: 20px;
   font-weight: 500;
   margin-top: 25px;
   flex-direction: column;
 
    
}

.iteam{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
